@CHARSET "ISO-8859-1";

/*
 * Authors:
 * Derrick, Troy - s3202752@student.rmit.edu.au
 * Foster, Diane - s3387562@student.rmit.edu.au
 * Goodreds, Allen - s3492264@student.rmit.edu.au
 * Kinkead, Grant - s3444261@student.rmit.edu.au
 * Putro, Edwan - edwanhp@gmail.com
 *
 * main.css
 * The purpose of this page is to make additional modifications to
 * Bootstrap css.
 */

 h1 {
	text-align: right;
	margin-right: 20px;
}

.testHarness {
	margin-left: 20px;
}

.smallHeight {
	margin-top: 50px;
}

.error {
	position: absolute;
	top: 70px;
	width: 100%;
	color: red;
	text-align: center;
}

.message {
	position: absolute;
	top: 70px;
	width: 100%;
	color: blue;
	text-align: center;
}

.addUser {
	padding-top: 20px;
}

.listUser {
	width: 90%;
	margin-top: 40px;
	margin-left: 5%;
	margin-right: 5%;
}

.editUser input,
.editUser select,
.editUser button {
	margin-top: 10px;
	margin-bottom: 10px;
}

#update {
	margin-bottom: 40px;
}

/* Customisation */
.material-icons.md-light {
	color: rgba(255, 255, 255, 1);
}

.logo {
	/*padding: 1em 0;*/
}

.top-n-tail {
    padding-top: 1em;
    padding-bottom: 1em;
}

.top_padding {
	padding-top: 1em;
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

h4.truncate {
	font-weight: 700;
	max-height: 55px;
}

p.truncate {
	text-overflow: ellipsis;
	-webkit-line-clamp: 5;
	max-height: 120px;
}

.price {
	color: #0079D5;
}
