*vendor*

\.idea/dbnavigator\.xml

\.idea/deployment\.xml

\.idea/modules\.xml

\.idea/php\.xml

\.idea/picnic\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

\.phpintel/

*.codekit3

cat_view\.html

css/main-min\.css

sftp-config\.json
